{
  "download_path": "./download",
  "ffserver_config": "./ffserver.conf",
  "volume_set": [0, 25, 50, 75, 100, 125, 150, 175, 200, 250, 300],
  "http_src": "http://sstia.tech:18090/test.mp3",
  "PhoneSignKey": "",
  "RoomDm": "",
  "Mdid": "",
  "appid": "",
  "secretKey": ""
}
