{% extends 'base.html' %}
{% block title %}Music{% endblock %}
{% block css %}
<style>
progress
{
    height: 10px;
}
progress::-webkit-progress-bar
{
    background-color:#d7d7d7;
}
progress::-webkit-progress-value
{
    background-color:orange;
}

</style>
{% endblock %}
{% block content %}
<div class="alert alert-warning" id="message"></div>
<div class="text-center">
    <div class="pull-left">
    <span>{{ now.song_name }}</span>
    </div>
    <div class="row pull-right">
    <div class="btn-group mr-3" role="group"><a class="btn btn-outline-primary" href="music/player" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
    </div>
    <div class="btn-group mr-3" role="group">
        <a class="btn btn-outline-primary" href="?command=vdown"><i class="fa fa-volume-down" aria-hidden="true"></i></a>
        <a class="btn btn-outline-primary" href="#">{{ volume }}%</a>
        <a class="btn btn-outline-primary" href="?command=vup"><i class="fa fa-volume-up" aria-hidden="true"></i></a>
    </div>
    <div class="btn-group mr-3" role="group">
        {% if paused %}
        <a class="btn btn-outline-primary" href="?command=start"><i class="fa fa-play" aria-hidden="true"></i></a>
        {% else %}
        <a class="btn btn-outline-primary" href="?command=pause"><i class="fa fa-pause" aria-hidden="true"></i></a>
        {% endif %}
        <a class="btn btn-outline-primary" href="?command=next"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
    </div>
    <form class="form-inline" onsubmit="ajaxSubmit();return false;">
        <input class="form-control mr-sm-2" type="text" name="name" id="id_name" placeholder="歌名/链接">
        <button class="btn btn-outline-primary d-none d-md-block" type="button" onclick="ajaxSubmit();">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
    </div>
</div>
<progress value='{{ now.time }}' max='{{ now.tottime }}' class="col-12" id="id_progress"></progress>
{% if data_list %}
<p></p>
<table class="table table-striped table-sm">
    <thead>
        <th class="d-none d-lg-table-cell">Id</th>
        <th>Name</th>
        <th class="d-none d-sm-table-cell">Artist</th>
        <th class="d-none d-md-table-cell">Album</th>
        <th>Del</th>
    </thead>
    <tbody>
        {% for music in data_list %}
        <tr>
            <td class="d-none d-lg-table-cell"><a href="{{ music.ori }}">{{ music.song_id }}</a></td>
            <td><a href="?id={{ music.song_id }}">{{ music.song_name }}</a></td>
            <td class="d-none d-sm-table-cell">{{ music.ar }}</td>
            <td class="d-none d-md-table-cell">{{ music.al }}</td>
            <td>
                <a class="btn btn-outline-primary" href="music/del?id={{ music.song_id }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="lead">None</p>
{% endif %}
{% endblock %}
{% block script %}
<script>
    $('#message').hide();
    var starttime = new Date();
    {% if now.time %}
    starttime = starttime.getTime() - {{ now.time }} * 1000;
    {% else %}
    starttime = starttime.getTime();
    {% endif %}

    function ajaxSubmit() {
        $('#message').html('申请已发出，请等待');
        $('#message').show();
        setTimeout("$('#message').hide();", 3000);
        $.ajax({
            url: '/add_by_name',
            type: 'GET',
            data: {
                'name': $('#id_name').val(),
            },
            success: function (arg) {
                window.location = "/music";
            }
        });
        $('#id_name').val('');
    }
    {% if data_list and not paused %}
    var refresh = false;
    function updateProgress(){
        let p = $('#id_progress');
        let timenow = new Date();
        p.val((timenow.getTime()-starttime)/1000);
        if(!refresh && p.attr('max') - (timenow.getTime()-starttime)/1000 < -1){
            refresh = true;
            window.location = '/music';
        }
    }
    setInterval("updateProgress();", 200);
    {% endif %}
    var p = $("progress");
    p.bind("mouseup",function(a){
        window.location = '/music?offset='+a.offsetX/p.innerWidth();
    });
</script>
{% endblock %}