{% extends 'base.html' %}
{% block title %}Upload Music{% endblock %}
{% block content %}
<p class="lead">Upload</p>
<form id="id_form" class="form-add" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <label class="col-3 col-form-label">File</label>
        <div class="col-9">
            <input class="file-upload" type="file" name="file" id="id_file" required multiple>
        </div>
    </div>
    <div id="innerForm">

    </div>
    <button type="submit" class="btn btn-outline-primary">
        <i class="fa fa-upload" aria-hidden="true"></i>
    </button>
</form>
{% endblock %}
{% block script %}
<script src="https://cdn.bootcss.com/jsmediatags/3.9.0/jsmediatags.min.js"></script>
<script>
$("#id_file").change(function(e){
    $("#innerForm").html('');
    //for every file...
    for (var i = 0; i < e.target.files.length; i++) {
        $("#innerForm").append([
            "    <div class=\"form-group row\">\n" +
            "        <label class=\"col-3 col-form-label\">Name</label>\n" +
            "        <div class=\"col-9\">\n" +
            "            <input class=\"form-control\" name=\"name"+i+"\" id=\"id_name"+i+"\" value=\""+e.target.files[i].name.split('.')[0]+"\" required>\n" +
            "        </div>\n" +
            "    </div>\n" +
            "    <div class=\"form-group row\">\n" +
            "        <label class=\"col-3 col-form-label\">Album</label>\n" +
            "        <div class=\"col-9\">\n" +
            "            <input class=\"form-control\" name=\"al"+i+"\" id=\"id_al"+i+"\">\n" +
            "        </div>\n" +
            "    </div>\n" +
            "    <div class=\"form-group row\">\n" +
            "        <label class=\"col-3 col-form-label\">Artist</label>\n" +
            "        <div class=\"col-9\">\n" +
            "            <input class=\"form-control\" name=\"ar"+i+"\" id=\"id_ar"+i+"\">\n" +
            "        </div>\n" +
            "    </div>"
        ].join());
        jsmediatags.read(e.target.files[i], {
            id: i,
            onSuccess: function (tag) {
                var i = this.id;
                $("#id_name"+i).val(tag.tags.title);
                $("#id_al"+i).val(tag.tags.album);
                $("#id_ar"+i).val(tag.tags.artist);
            },
            onError: function (error) {
                console.log(error);
            }
        });
    }
});
</script>
{% endblock %}